<h1>Artists</h1>

  <% @artists.each do |artist| %>
    <h2><%= link_to artist.name, artist_path(artist) %></h2>

    <h3><%= pluralize(artist.songs.count, 'song') %></h3>

  <% artist.songs.each do |s| %>
    <ul><%= link_to s.title, song_path(s) %></ul>
  <% end %>
<% end %>
